.env

.DS_Store


**/.terraform/*


*.tfstate
*.tfstate.*

crash.log
crash.*.log


*.auto.tfvars
*.auto.tfvars.json

.terraformrc
terraform.rc

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan
*.plan

.terraform.tfstate.lock.info


terraform.log

.vscode/
.idea/